<p><%= @idea.content %>

<form method="post" action="/ideas/<%=@idea.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Idea">
</form>

<a href="/ideas/<%=@idea.id%>/edit">Edit Project Idea </a>
